header {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: black;
  text-align: end;
  padding: 0.25rem;
}

header div {
  vertical-align: middle;
}

header div a img {
  margin-right: 1rem;
  width: 2rem;
}

body {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkgray;
}

.main {
  margin: 4rem auto 2rem auto;
  border-radius: 5px;
  background-color: gray;
  text-align: center;
  padding: 2rem 0rem 2rem 0rem;
  text-shadow: 2px 2px #4e4e4e;
  width: 70%;
}

.main h2,
h3 {
  color: white;
}

.content {
  margin: 1rem auto;
  width: 70%;
  border-radius: 5px;
  background-color: gray;
  padding-bottom: 2rem;
}

.content h2 {
  padding: 2rem 2rem 0rem 2rem;
}

.list {
  margin-left: 2rem;
  margin-right: 2rem;
}

.list .group div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid snow;
  border-radius: 0.5rem;
  color: white;
}

.list .group div:not(:last-child) {
  margin-bottom: 1rem;
}

.list div a button {
  width: 12rem;
  background-color: black;
  border-color: black;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
}

.box {
  padding: 1px;
}

@media (max-width: 1000px) {
  .list .group div {
    display: block;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .main {
    width: 100%;
    margin: auto;
    border-radius: 0;
  }

  .main h1 {
    margin-top: 3rem;
  }

  .content {
    margin: auto;
    width: 100%;
    background-color: transparent;
  }

  .list .group h3 {
    color: black;
  }

  .list .group div {
    border: 1px solid gray;
    color: black;
  }
}
